<!doctype html>
<html ng-app="app">
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <link rel="stylesheet" type="text/css" href="main.css"></style>
  </head>
  <body>
    <div ng-controller="form">
      <label>Input text:</label>
      <div contenteditable="true" class="in-place-edit value-data" ng-model="value">
      </div>
      <div class="buttons">
        <button ng-repeat="action in actions" ng-click="post(action.name)" class="tooltip {{action.name}}"><span class="tooltiptext">{{action.tooltip}}</span>{{action.name}}</button>
      </div>
    </div>
    <script>
    'use strict';
    angular.module('app', [])
        .controller('form', ['$scope', '$http', function($scope, $http) {
            var source = 'checkin | save | discard | accept | decline';
            $scope.actions=[];
            source.trim().split('|').forEach(element=>{
              $scope.actions.push({name:element,tooltip:'small tooltip'});
            });

            $scope.value ="";

            $scope.post = function(action){
                var data = JSON.stringify({
                    content: $scope.value
                });

                var config = {
                    headers : {
                        'Content-Type': 'application/json'
                    }
                };

                $http.post("https://testing.smashdocs.net/documents/12345/"+action, data, config)
                .then(function(response){
                    console.log(response);
                })
                .catch(function(error){
                    console.log(error);
                });
            };
        }])

       .directive("contenteditable", function () {
            return {
                restrict: "A",
                link: function (scope, element, attrs, ngModel) {
                    element.bind('focus', function(){
                        element.text(element.html());
                    });

                    element.bind('blur', function () {
                        var newString="";
                        let source = element.text();
                        let arr = source.split(' ').filter(element=>element!='');

                        arr.forEach(item => {
                        if(item.indexOf('<del>')!=0){
                            var openPos = item.indexOf('<inc>');
                            var closePos = item.indexOf('</inc>');
                            if(openPos == -1)
                                item = '<inc>'+item;
                            if(closePos == -1)
                                item = item +'</inc>';
                            if(openPos!=0 && openPos < closePos)
                                item = '<inc>'+item.replace('<inc>','');
                            else if(openPos!=0 && openPos > closePos)
                                item = '<inc>'+item;
                            if(item.length -closePos != 6)
                                item = item.replace('</inc>','') + '</inc>';
                            }

                            newString+=" "+item;
                        });

                        element.html(newString);
                        scope.value = newString;
                   });
               }
           };
       });
    </script>
  </body>
</html>
